.container{
    .form{
        margin-top: 2px;
        input[type=file]{
            margin-top: 5px;
            width: 75%;
            margin-bottom: 0.5rem;
        }
    }
    .viewer{
        background: #e4e4e4;
       
    }
    .align-rigth{
        text-align: right;
        margin-bottom: 2em;
    }
}